.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:1rem;
  background-color: #161513;
}
.nav-menu{
    display:flex;
    align-items: center;
    list-style:none;
    gap:60px;
    font-size: 20px;
}
.nav-link{
    color:white;
}
.btn-connect{
    font-size: 20px;
    color:white;
    padding:20px 40px;
    border-radius: 50px;
    background: linear-gradient(264deg,#DA7C25 -5.09%,#B923E1 106.28%);
    cursor: pointer;
    transition:0.3s;
}
.btn-connect:hover{
    transform: scale(1.05);
    transition:0.3s;
}
@media(max-width:990px){
    .navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:1rem;
  margin:0;
  background-color: #161513;
}
.nav-menu{
    display:flex;
    align-items: center;
    list-style:none;
    gap:60px;
    font-size: 20px;
}

.nav-link{
    color:white;
    margin:0 auto;
    text-align: center;
}
.nav-link:hover{
    color:pink;
    transform: scale(1.05);
    transition:0.3s;
}
.nav-link:active ,.nav-link:checked{
    color:yellow;
}
.center-on-md {
    display: block;
    margin: 15px auto;
    text-align: center;
  }
}
@media(min-width:375px){
.navbar{
  width: 60%;
}
}